body{
	font-family: 'Muli', sans-serif !important;
}
/*=============== HEADER =================*/
#header{
	position: fixed;
	width: 100%;
	z-index: 100;
}
.brand-logo img{
	max-height: 80px;
	max-width: 200px;
}
.header-right ul li{
	display: inline-block;
	margin-left: 15px;
}
.header-right ul li a{
	color: #fff;
}
.header-right ul li a:hover{
	text-decoration: none;
}
.header-center{
	margin-right: 25px;
}
.header-center ul li {
	display: inline-block;
	margin-left: 15px;
}
.header-center ul li a{
	color: #fff;
}
.header-center ul li a:hover{
	text-decoration: none;
}
.scrolled{
	padding-top: -30;
	height: 70px;
	background-color: #2D2139;
	transition: 0.2s;
	opacity: 0.9;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.humberger{
	display: none;
}
.button_container {
	position: fixed;
	top: 20px;
	right: 70px;
	height: 25px;
	width: 27px;
	cursor: pointer;
	z-index: 100;
	transition: opacity .25s ease;
}
.button_container:hover {
	opacity: .7;
}
.button_container.active .top {
	-webkit-transform: translateY(11px) translateX(0) rotate(45deg);
	transform: translateY(11px) translateX(0) rotate(45deg);
	background: #fff;
}
.button_container.active .middle {
	opacity: 0;
	background: #fff;
}
.button_container.active .bottom {
	-webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
	transform: translateY(-11px) translateX(0) rotate(-45deg);
	background: #fff;
}
.button_container span {
	background: #fff;
	border: none;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .35s ease;
	cursor: pointer;
}
.button_container span:nth-of-type(2) {
	top: 11px;
}
.button_container span:nth-of-type(3) {
	top: 22px;
}
.overlay-menu{
	z-index: 100;
}
.overlay_menu {
	position: fixed;
	background: #2D2139;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;
}
.overlay_menu.open {
	opacity: 0.95;
	visibility: visible;
	height: 100%;
}
.overlay_menu.open li {
	-webkit-animation: fadeInRight .5s ease forwards;
	animation: fadeInRight .5s ease forwards;
	-webkit-animation-delay: .35s;
	animation-delay: .35s;
}
.overlay_menu.open li:nth-of-type(2) {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}
.overlay_menu.open li:nth-of-type(3) {
	-webkit-animation-delay: .45s;
	animation-delay: .45s;
}
.overlay_menu.open li:nth-of-type(4) {
	-webkit-animation-delay: .50s;
	animation-delay: .50s;
}
.overlay_menu nav {
	position: relative;
	height: 10%;
	top: 25%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 18px;
	text-align: center;
}
.overlay_menu ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
}
.overlay_menu ul li {
	display: block;
	height: 25%;
	height: calc(100% / 4);
	min-height: 50px;
	position: relative;
	opacity: 0;
}
.overlay_menu ul li a {
	display: block;
	position: relative;
	color: #fff;
	text-decoration: none;
	overflow: hidden;
}
.overlay_menu ul li a:hover:after, .overlay_menu ul li a:focus:after, .overlay_menu ul li a:active:after {
	width: 100%;
}
.overlay_menu ul li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 3px;
	transition: .35s;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}


/*=============== HOME =================*/
.home{
	background-image: url('../assets/img/ilustration/home-img.png');
	height: 800px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-color-overlay{
	background-color: #2D2139;
	height: 800px;
	width: 100%;
	opacity: 0.9;
	position: absolute;
}
.content-home{
	padding-top: 130px;
	position: relative;
	z-index: 5;
}
.hero-img img{
	width: 90%;
	margin-top: -40px;
}
.btn-home{
	margin-top: 50px;
}
.fa-times-circle{
	margin-bottom: -50px;
	margin-left: -50px;
	color: #fff;
	width: 100%;
	cursor: pointer !important;
}
.bg-modal-content{
	background-color: rgb(0,0,0,0) !important;
	border: 5px solid rgb(0,0,0,0) !important;
}
.modal-body video{
	width: 100%; 
	height: auto; 
	margin:0 auto; 
	frameborder:0;
	z-index: 1000;
}
.bg-join-now{
	background-image: url('../assets/img/ilustration/bg-join.png');
	height: 280px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.modal-join-now{
	margin-top: 100px;
}
.img-join img{
	max-height: 350px;
	max-width: 150px;
	margin-top: -30px;
	position: absolute;
	z-index: 1001;
}
.title-join{
	text-align: right;
	color: #fff;
	position: absolute;
	right: 0;
	margin-right: 45px;
	top: 45px;
}
.title-join h1{
	font-size: 52px;	
}
.footer-modal{
	padding:40px 0;
}
.footer-modal a{
	margin: 10px;
}
.fa-times{
	color: #fff;
	padding-right: 15px;
	padding-top: 15px;
}
.footer-modal li{
	display: inline-block;
	list-style: none;
}
.masking{
	background-image: url('../assets/img/ilustration/hero-mask.png');
	height: 250px;
	width: 100%;
	margin-top: -230px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 5;
}
/*========== Box Panel =========*/
.panel-box{
	margin-top: -250px;	
}
.panel-box li{
	display: inline-block;
	list-style: none;
	margin: -6px;
	box-shadow: 0px 0px 13.343px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
}
.item-slide:hover .item-overlay.right {
	right: 0;
	left: 0;
}

.item-slide:hover .item-overlay.left {
	left: 0;
}

.item-overlay {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;  
	color: #fff;
	overflow: hidden;
	text-align: center;
	width: 100%; 
	-moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	-webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.item-overlay.right {
	right: 200%;
	left: -100%;
	background-color: #FF9EC5;
}
.item-overlay.left {
	left: 100%;
	background-color: #00CCDD;
}
.item-left{
	border-radius: 30px 0 0 30px;
	border-right: 1px solid #E0DDDD;
}
.item-right{
	border-radius: 0 30px 30px 0;
	border-left: 1px solid #E0DDDD;
}

.item-slide {
	position: relative;  
	overflow: hidden;
	max-width: 430px;
	height: 430px;
	padding: 15px;
	z-index: 25;
}
.item-slide img {
	padding-top: 40px;
	width: 50%;
	max-height: 350px;
}
.arrow-left{
	position: absolute;
	left: 0;
	top: 95px;
	margin-left: -20px;
	height: 150px;
}
.arrow-right{
	position: absolute;
	right: 0;
	top: 95px;
	margin-right: -20px;
	height: 150px;
}
.description {
	padding: 45px 10px 0 10px;
}
.description p{
	height: 150px;
	text-align: center;
}


/*====== Content Influ Buzz ======*/

.content-influ-buzz{
	margin-top: 100px;
}
.description-text h3{
	margin-bottom: 70px;
}
.description-text p{
	font-size: 18px;
}
.influencer-img img{
	width: 100%;
	max-height: 350px;
	margin-top: 200px;
	z-index: 11;
	position: relative;
}

/*====== Content Influ Buzz ======*/

.testimoni{
	background-image: url('../assets/img/ilustration/mask.png');
	height: 1250px;
	width: 100%;
	margin-top: -170px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 10;
}
.content-testimoni{
	padding-top: 350px;
	margin-bottom: 100px;
	padding-bottom: 100px;
}
.spradz-logo img{
	max-width: 100px;
}
.box-comment{
	margin-top: 100px;
	margin-right: 20%;
	margin-left: 20%;
}
.slide-testimoni{
	margin-top: 100px;
	position: relative;
	z-index: 10;
}
.owl-nav i{
	color: #fff;
	cursor: pointer;
	font-size: 24px;
}
.owl-next{
	padding-top: 50px;
	left: -10px;
	position: absolute;
}
.owl-prev{
	padding-top: 50px;
	right: -10px;
	position: absolute;
}
.avatar{
	height: 90px;
	width: 90px !important;
	border-radius: 100px;
	margin-bottom: 20px;
	border-radius: 100px;
	object-fit: cover;
}
.slider-testimoni{
	width: 180px;
}
.slider-testimoni h5{
	font-size: 18px;
	font-weight: bold;
}
/*====== Advertiser ======*/
.advertiser{
	margin-top: -200px;
}
.content-adv{
	padding-top: 280px;
	padding-bottom: 300px;
}
.description-adv h2{
	margin-bottom: 60px;
}
.description-adv p{
	margin-bottom: 100px;
}
.img-adv img{
	width: 100%;
	max-height: 500px;
}
.img-adv-mobile{
	display: none;
	text-align: center;
}
.img-adv-mobile img{
	max-height: 450px;
}
.btn-readmore{
	z-index: 90;
	position: relative;
}

/*====== content Client ======*/

.bg-mask3{
	background-image: url('../assets/img/ilustration/mask2.png');
	height: 700px;
	width: 100%;
	margin-top: -350px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.content-client{
	padding-top: 350px;
}
.bg-mask3 h4{
	margin-bottom: 80px;
}
.slider-client{
	max-width: 180px;
	margin:0 25px;
}
.slider-client img{
	max-height: 180px;
}

.slide-client{
	position: relative;
	z-index: 10;
	padding-top: 0;
}
.owl-nav i{
	color: #fff;
	cursor: pointer;
	font-size: 24px;
}
.owl-next{
	padding-top: 50px;
	left: -10px;
	position: absolute;
}
.owl-prev{
	padding-top: 50px;
	right: -10px;
	position: absolute;
}
/*========== Footer ==========*/

.footer{
	padding: 10px 0 40px 0;
}
.footer-top{
	padding-top: 30px;
}
.footer-list{
	margin-bottom: 25px;
}
.footer-list a{
	color: #fff;
	display: list-item;
	list-style: none;
	margin-bottom: 10px;
}
.footer-list a:hover{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
.footer-top-right{
	text-align: right;
}
.footer-top-right p{
	margin-top: 30px;
}
.logo-footer{
	max-height: 50px;
}
.footer-bottom{
	margin-top: 30px;
}
.copyright{
	font-size: 14px;
	padding-top: 8px;
}
.footer-bottom-right{
	text-align: right;
}
.footer-bottom-right a{
	margin-left: 10px;
}
.footer-bottom-right a:hover{
	text-decoration: none;
}
.sosmed{
	height: 35px;
	width: 35px;
	border-radius: 100px;
}
.sosmed:hover{
	-webkit-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}
	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
	}
	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}
	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
	}
	100% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}
@keyframes swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}
	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
	}
	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
	}
	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
	}
	100% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
	}
}
.copyright-mobile{
	display: none;
}
.footer-bottom-left{
	display: block;
}
.footer-top-left-mobile{
	display: none;
}
.footer-top-right{
	display: block;
}


/*========== Login ===========*/
.img-hero-login img{
	width: 110%;
	height: 100%;
	margin-left: -50px;
	position: absolute;
	z-index: -1;
}
.icon-login img{
	max-height: 50px;
	position: absolute;
	left: 50px;
	top: 30px;
}
.login-form{	
	padding: 40px;
}
.form-input{
	margin-left: 70px;
}
.title-login{
	text-align: right;
}
.title-login p{
	color: #8c919b;
}
.form-input label{
	color: #946EBD;
	font-weight: bold;
}
.form-input .form-control{
	border:0;
	background-color: #F7F0FF;
	color: #946EBD !important;
}
.form-input::placeholder { 
	color: #946EBD !important;
}
.form-input .form-control:focus{
	color: #946EBD ;
	border:3px solid #946EBD;
	background-color: #F7F0FF;
	border-color: #F7F0FF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(0, 0, 0, 0);
}
.form-input span{
	position: absolute;
	right: 0;
	margin-right: 70px;
	margin-top: -30px;
	cursor: pointer;
}
.fa-eye{
	color: #946EBD;
}
.fa-sort-down{
	color: #946EBD;
}
.form-input select {
	-moz-appearance:none; 
	-webkit-appearance:none; 
	appearance:none;
}
.s_k{
	color: #946EBD;
	text-align: right;
	font-size: 14px;
	padding-top: 15px;
}
.s_k a{
	color: #EC2B78;
} 
.s_k a:hover{
	color: #EC2B78;
	font-weight: bold;
} 
.btn-submit li{
	display: inline-block;
	list-style: none;
	margin-bottom: 30px;
	margin-right: 30px;
}
.btn-submit2 li{
	display: inline-block;
	list-style: none;
	margin-bottom: 30px;
	margin-right: 30px;
}
.link_register{
	text-align: center;
	color: #946EBD;
}
.link_register a{
	color: #EC2B78;
} 
.link_register a:hover{
	color: #EC2B78;
	font-weight: bold;
} 
.h-log{
	height: 800px;
}

/*=========== Page Advertiser ============*/
.bg-color-purple{
	height: 800px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #2D2139;
}
.bg-white-content{
	padding-bottom: 300px;
}
.subtitle{
	color: #946EBD;
}
.description-title{
	color: #626262;
	font-weight: 300;
}
.thumbnail-img-hero{
	width: 90%;
	max-height: 350px;
}
.content-description{
	padding-bottom: 50px;
}
.content-info{
	margin-bottom: 70px;
}
.thumbnail-img-hero-mobile{
	display: none;
}
.step-by-step{
	margin: 50px 0;
}
.icon-step{
	max-height: 80px;
	margin-bottom: 25px;
}
.card-step {
	text-align: center;
	margin-bottom: 25px;
}
.card-step label{
	background-color: #946EBD;
	color: #fff;
	padding: 5px 15px;
	border-radius: 7px;
	margin-bottom: 25px;
}
.card-step h5{
	font-weight: 400;
	color: #2D2139;
	height:70px;
	line-height: 30px; 
}
.card-step h6{
	font-weight: 400;
	color: #626262;
	line-height: 25px; 
}

.fade-in-element {
	animation: fade-in 3s;
}
@keyframes fade-in {
	from {opacity: 0; transform: scale(.7,.7)}
	to {opacity: 1;}
}
.hidden-hero {
	opacity: 0;
}
.slide-right {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes slideInLeft {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
.hidden-text {
	opacity: 0;
}
.slide-left{
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.hidden-text2 {
	opacity: 0;
}
@-webkit-keyframes slideInRight {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes slideInRight {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
#slide-all-testimoni button.owl-next{
	display: none !important;
}
#slide-all-testimoni button.owl-prev{
	display: none !important;
}
#slide-all-client button.owl-next{
	display: none !important;
}
#slide-all-client button.owl-prev{
	display: none !important;
}
#slide-all-testimoni button.owl-dot{
	display: none !important;
}
#slide-all-client button.owl-dot{
	display: none !important;
}
#slide-all-client button.owl-dot{
	margin-top: 60px;
}
#slide-all-client .owl-carousel .owl-dots .owl-dot.active span,
#slide-all-client .owl-carousel .owl-dots .owl-dot:hover span {
	background: #00EBFF;
	outline: 0;
	border: 0;
}
#slide-all-client .owl-carousel .owl-dots .owl-dot:focus span {
	outline: rgb(0,0,0,0);
	border: rgb(0,0,0,0);
}
#slide-all-client .owl-carousel .owl-dots{
	display: inline-block;
	width: 100%;
	text-align: center;
}
#slide-all-client .owl-carousel .owl-dots .owl-dot{
	display: inline-block;
}
#slide-all-client .owl-carousel .owl-dots .owl-dot span {
	border:2px solid #00EBFF;
	display: inline-block;
	background: #2D2139;
	height: 20px;
	margin: 0  10px;
	width: 20px;
}
/*=============== Page Buzzer ==============*/
.lh-55{
	line-height: 55px;
}
.clue{
	margin: 0 0 5px 0;
	font-size: 22px;
	color: #2D2139;
	height: 70px;
}
.mt-8{
	margin-top: 80px;
}
.l-h-25{
	line-height: 25px;
}
.h-testi{
	padding-top: 50px;
	height: 1000px;
}
/*--- owl slider ---*/
.bg-testimonials{
	background-image: url('../assets/img/ilustration/mask2.png');
	max-height: 1200px;
	padding-bottom: 100px;
	width: 100%;
	margin-top: -350px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.testimonials{
	position: relative;
}

.owl-nav-mobile{
	display: none;
}
.item-slider-box {
	padding-top: 100px;
}
.content-slider{
	padding: 15px;
	max-width: 450px;
	background-color: #ED2B78;
	position: relative;
	max-height: 180px;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
	border-radius: 10px 10px 0px 0px;
}
.fa-quote-left{
	color: #AC0F4D;
	font-size: 26px;
	padding-left: 150px;
	padding-top: 0;
}
.quotes-member{
	margin-left: 170px;
	padding-top: 10px;
	text-align: left;
}
.quotes-member p{
	color: #fff;
	font-style: italic;
	font-weight: 300;
	font-size: 14px;
	line-height: 23px;
}
.img-profil{
	position:absolute;
	width: 200px !important;
	height: 260px;
	margin-top: -80px;
	z-index: 100;
}
.footer-quotes{
	max-width: 450px;
	border-radius: 0 0 10px 10px;
	background-color: #413450;
	padding: 10px;
}
.footer-quotes h5{
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #00EBFF;
}
.footer-quotes h6{
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}
#customers-testimonials{
	padding-top: 100px;
}
#customers-testimonials button.owl-next{
	display: none !important;
}
#customers-testimonials button.owl-prev{
	display: none !important;
}
#customers-testimonials .item-slider-box  {
	margin-bottom:50px;
	opacity: .2;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item-slider-box  {
	opacity: 1;
	-webkit-transform: scale3d(2.0, 1.0, 1);
	transform: scale3d(1.0, 1.0, 1);
}
#customers-testimonials button.owl-dot{
	display: none !important;
}
/*========= Page Influencer ===========*/
.hero-img-influe{
	width: 100%;
}
#upgrade-premium{
	padding: 50px 0 350px 0;
	margin-top: -150px;
}
.description-premium{
	text-align: right;
}
.description-premium h5{
	font-weight: 300;
	line-height: 40px;
	font-size: 22px;
	color: #2D2139;
}
.description-premium h6{
	font-weight: 300;
	line-height: 40px;
	color: #EC2B78;
	font-size: 22px;
	font-weight: bold;
	margin-top: 80px;
}
/*====== Button ======*/

.btn-outline-pink{
	border: 1px solid #EC2B78 ;
	padding: 15px 45px;
	border-radius: 10px;
	color: #EC2B78;
}
.btn-outline-pink:hover{
	background-color: #EC2B78;
	padding: 15px 45px;
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-submit button{
	background-color: #EC2B78;
	padding: 13px 45px;
	border-radius: 10px;
	color: #fff;
	border: 0;
	outline: 0;
}
.btn-submit button:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-pink{
	background-color: #EC2B78;
	padding: 10px 25px;
	border-radius: 10px;
	color: #fff;
}
.btn-pink:hover{
	color: #fff;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-play{
	color: #fff;
}
.btn-play:hover{
	color: #fff;
	text-decoration: none;
}
.btn-outline-white a{
	border: 1px solid #fff;
	border-radius: 10px;
	color: #fff;
	width: 250px;
}
.btn-outline-white a:hover{
	text-decoration: none;
	background-color: #fff;
	color: #FF9EC5;
}
.btn-pink3 a{
	background-color: #EC2B78;
	width: 250px;
	border-radius: 10px;
	color: #fff !important;
}
.btn-pink3 a:hover{
	color: #fff;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
.btn-pink2{
	background-color: #EC2B78;
	padding: 20px 30px;
	border-radius: 10px;
	color: #fff;
}
.btn-pink2:hover{
	color: #fff;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-blue{
	background-color: #3B5998;
	padding: 20px 30px;
	border-radius: 10px;
	color: #fff;
}
.btn-blue:hover{
	color: #fff;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-submit2 button{
	background-color: #EC2B78;
	padding: 20px 30px;
	border-radius: 10px;
	color: #fff;
	border: 0;
	outline: 0;
}
.btn-submit2 button:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*====== Color, bg Color ======*/
.bg-soft-purple{
	background-color: #F7EFFF;
}
.white{
	color: #fff;
}
.pink{
	color: #ED2B78;
}
.blue{
	color: #00EBFF;
}
.purple{
	color: #946EBD;
}
.grey{
	color: #626262;
}
.bg-color2{
	background-color: #F8F3FC;
}
.bg-pink{
	background-color: #EC2B78;
}



/*=============== Responsive ==============*/

@media (min-width: 120px) and (max-width: 320px) {
	/*------header------*/
	.header-right{
		display: none;
	}
	.header-center{
		display: none;
	}
	.scrolled{
		height: 50px;
	}
	.humberger{
		display: block;
	}
	.brand-logo img{
		max-height: 80px;
		max-width: 130px;
	}
	.button_container {
		top: 15px;
		right: 30px;
		height: 20px;
		width: 25px;
	}
	.hero-img{
		display: none;
	}
	.home-left h1{
		font-size: 24px;
	}
	.home-left p{
		font-size: 18px;
	}
	.btn-home{
		margin-top: 30px;
	}
	.btn-home a{
		font-size: 14px;
	}
	.modal-video{
		margin-top: 25%;
	}
	.img-join img{
		max-height: 150px;
		max-width: 100px;
		margin-top: -10px;
	}
	.bg-join-now{
		height: 180px;
	}
	.title-join h1{
		font-size: 24px;	
	}
	.footer-modal{
		padding:20px 0;
	}
	.footer-modal li a{
		font-size: 14px;
	}
	.footer-modal li{
		margin-bottom: 30px;
	}
	/*---box panel---*/
	.panel-box{
		margin-top: -200px;	
	}
	.item-left{
		border-radius: 30px 30px 0 0;
		border-right : 0;
		border-bottom: 1px solid #E0DDDD;
	}
	.item-right{
		border-radius: 0 0 30px 30px;
		border-left : 0;
		border-top: 1px solid #E0DDDD;
	}
	.mobile-margin-top img{
		margin-top: 50px;
	}
	.arrow-left{
		position: absolute;
		right: 0;
		top: 0;
		margin-top: -60px;
		left: 0;
		width: 100px;
		margin-left: 220px;
		transform: rotate(90deg);
	}
	.arrow-right{
		position: absolute;
		right: 0;
		top: 330px;
		margin-right: 25px;
		width: 100px;
		transform: rotate(90deg);
	}
	.item-slide:hover .item-overlay.right {
		bottom: 0;
		top: 0;
	}

	.item-slide:hover .item-overlay.left {
		top: 0;
	}
	.item-overlay.right {
		bottom: 200%;
		top: -100%;
	}
	.item-overlay.left {
		top: 100%;
	}
	/*---influ buzz---*/
	.testimoni{
		margin-top: 80px;
	}
	.influencer-img img{
		width: 70%;
		max-height: 350px;
		margin-top: 30px;
		position: absolute;
		text-align: center;
		right: 15%;
		left: 15%;
	}
	/*---testimoni---*/	
	.testimoni{
		height: 900px;
		width: 100%;
		margin-top: 80px;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	.content-testimoni{
		padding-top: 200px;
		padding-bottom: 100px;
	}
	.box-comment{
		margin-right: 0;
		margin-left: 0;
	}
	.owl-next{
		padding-top: 50px;
		left: 0;
		position: absolute;
		z-index: 11;
	}
	.owl-prev{
		padding-top: 50px;
		right: 0;
		position: absolute;
		z-index: 11;
	}
	.slider-testimoni h5{
		font-size: 14px;
	}
	.slider-testimoni p{
		font-size: 12px;
	}
	.avatar{
		height: 80px;
		width: 80px !important;
		border-radius: 100px;
		margin-bottom: 20px;
		border-radius: 100px;
		object-fit: cover;
	}
	.slide-testimoni{
		margin-top: 100px;
		position: relative;
		z-index: 99;
	}
	.slider-testimoni{
		width: 80px;
		margin-right: 180px !important;
	}
	/*----- advertiser-----*/
	.img-adv img{
		display: none;
	}
	.img-adv-mobile img{
		width: 100%;
	}
	.img-adv-mobile {		
		display: block;
		margin-bottom: 50px;
	}
	.btn-readmore{
		text-align: center;
	}
	/*---- Client ----*/
	.content-client{
		padding-top: 150px;
	}
	.bg-mask3{
		height: 400px;
		width: 100%;
		margin-top: -300px;
	}
	.slider-client{
		max-width: 100px;
		margin: 0;
		padding-top: 25px;
	}
	.slider-client img{
		max-width: 110px !important;
	}
	/*----footer----*/
	.footer-bottom-right{
		text-align: center;
	}
	.copyright-mobile{
		display: block;
		text-align: center;
		margin-top: 20px;
	}
	.footer-bottom-left{
		display: none;
	}
	.footer-top-left-mobile{
		display: block;
		text-align: left !important;
		margin-bottom: 35px;
	}
	.footer-top-left-mobile img{
		margin-bottom: 30px;
	}
	.footer-top-left-mobile p{
		text-align: left !important;
	}
	.footer-top-right{
		display: none;
	}
	/*---- login ----*/
	.form-input{
		margin-left: 0;
	}
	
	.btn-outline-pink{
		padding: 10px 25px;
	}
	.btn-outline-pink:hover{
		padding: 10px 25px;
	}
	.btn-submit button{
		background-color: #EC2B78;
		padding: 10px 25px;
		border-radius: 10px;
		color: #fff;
		border: 0;
		outline: 0;

	}
	.login-form{
		padding-bottom: 50px;
		z-index: 100;
		padding: 15px;
		position: relative;
		height: 100%;
		width: 100%;
	}
	.icon-login img{
		max-height: 40px;
		left: 30px;
		z-index: 101;
	}
	.bg-overlay-mobile{
		background-color: #2D203A;
		opacity: 0.9;
		position: absolute;
		z-index: 0;
		height: 100%;
		width: 100%;
		left: 0;
		right: 0;
	}
	.bg-mobile{
		background-image: url('../assets/img/ilustration/home-img.png');
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.title-login{
		padding-top: 80px;
	}
	.title-login h1{
		text-align: center;
		color: #fff !important;
	}
	.title-login p{
		text-align: center;
		color: #fff !important;
	}
	.title-login h1{
		font-size: 22px;
	}
	.title-login p{
		font-size: 14px;
	}
	.form-input label{
		color: #fff;
	}
	.form-input .form-control{
		border:0;
		background-color: rgb(217,182,255,0.2);
		color: #fff !important;
	}
	.form-input::placeholder { 
		color: #fff !important;
	}
	.form-input .form-control:focus{
		color: #946EBD ;
		border:3px solid #946EBD;
		background-color: rgb(217,182,255,0.2);
		border-color: #F7F0FF;
	}
	.form-input span{
		margin-right: 30px;
	}
	.btn-submit li{
		margin-right: 5px;
		display: inline-block !important;
		margin-bottom: 60px;
	}
	.btn-submit2 li{
		margin-right: 5px;
		display: inline-block !important;
		margin-bottom: 40px;
	}
	.s_k{
		text-align: center;
	}
	.fa-eye{
		color: #fff;
	}
	.fa-sort-down{
		color: #fff;
	}
	/*---- page adv -----*/
	.thumbnail-img-hero-hide-mobile{
		display: none;
	}
	.thumbnail-img-hero-mobile{
		display: block;
		text-align: center;
	}
	/*---- page buzzer ----*/
	.owl-nav-mobile{
		display: block;
	}
	#customers-testimonials{
		padding-top: 50px;
	}
	.padding-content{
		padding-top: 300px;
	}
	.owl-nav-mobile .owl-next{
		position: absolute;
		padding-top: 250px;
	}
	.owl-nav-mobile .owl-prev{
		position: absolute;
		padding-top: 250px;
	}
	.fa-quote-left{
		font-size: 22px;
		padding-left: 80px;
		padding-top: 0;
	}
	.img-profil{
		max-width: 120px !important;
		height: 260px;
		margin-top: -80px;
	}
	.quotes-member p{
		font-size: 14px;
		line-height: 20px;
	}
	.footer-quotes{
		border-radius: 0 0 10px 10px;
		background-color: #413450;
		padding: 10px;
	}
	.quotes-member{
		margin-left: 90px;
		padding-top: 10px;
		text-align: left;
	}
	.footer-quotes h5{
		font-size: 14px;
		line-height: 25px;
	}
	.footer-quotes h6{
		font-size: 13px;
		line-height: 20px;
	}
	/*--- page inlfue ---*/
	#upgrade-premium{
		margin-top: -250px;
	}
	.description-premium{
		text-align: center;
	}
}
@media (min-width: 321px) and (max-width: 576px) {
	/*------header------*/
	.header-right{
		display: none;
	}
	.header-center{
		display: none;
	}
	.humberger{
		display: block;
	}
	.scrolled{
		height: 65px;
	}
	.brand-logo img{
		max-height: 80px;
		max-width: 160px;
	}
	.button_container {
		top: 15px;
		right: 30px;
		height: 20px;
		width: 25px;
	}
	.hero-img{
		display: none;
	}
	.btn-home{
		margin-top: 30px;
	}
	.modal-video{
		margin-top: 25%;
	}
	.img-join img{
		max-height: 150px;
		max-width: 100px;
		margin-top: -10px;
	}
	.bg-join-now{
		height: 180px;
	}
	.title-join h1{
		font-size: 24px;	
	}
	.footer-modal{
		padding:20px 0;
	}
	.footer-modal li a{
		font-size: 14px;
	}
	.footer-modal li{
		margin-bottom: 30px;
	}
	/*---box panel---*/
	.panel-box{
		margin-top: -200px;	
	}
	.item-left{
		border-radius: 30px 30px 0 0;
		border-right : 0;
		border-bottom: 1px solid #E0DDDD;
	}
	.item-right{
		border-radius: 0 0 30px 30px;
		border-left : 0;
		border-top: 1px solid #E0DDDD;
	}
	.mobile-margin-top img{
		margin-top: 0;
	}
	.mobile-margin-top img{
		margin-top: 50px;
	}
	.arrow-left{
		position: absolute;
		right: 0;
		top: 0;
		margin-top: -50px;
		left: 0;
		width: 100px;
		margin-left: 250px;
		transform: rotate(90deg);
	}
	.arrow-right{
		position: absolute;
		right: 0;
		top: 330px;
		margin-right: 70px;
		width: 100px;
		transform: rotate(90deg);
	}
	.item-slide img{
		padding-top: 30px;
		width: 50%;
		max-height: 250px;
	}
	.item-slide:hover .item-overlay.right {
		bottom: 0;
		top: 0;
	}

	.item-slide:hover .item-overlay.left {
		top: 0;
	}
	.item-overlay.right {
		bottom: 200%;
		top: -100%;
	}
	.item-overlay.left {
		top: 100%;
	}
	/*---influ buzz---*/
	.testimoni{
		margin-top: 80px;
	}
	.influencer-img img{
		width: 70%;
		max-height: 350px;
		margin-top: 30px;
		position: absolute;
		text-align: center;
		right: 15%;
		left: 15%;
	}
	/*---testimoni---*/	
	.testimoni{
		background-image: url('../assets/img/ilustration/mask.png');
		height: 950px;
		width: 100%;
		margin-top: 80px;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	.content-testimoni{
		padding-top: 250px;
		padding-bottom: 100px;
	}
	.box-comment{
		margin-right: 0;
		margin-left: 0;
	}
	.owl-next{
		padding-top: 50px;
		left: 0;
		position: absolute;
		z-index: 11;
	}
	.owl-prev{
		padding-top: 50px;
		right: 0;
		position: absolute;
		z-index: 11;
	}
	.slider-testimoni h5{
		font-size: 14px;
	}
	.slider-testimoni p{
		font-size: 12px;
	}
	.avatar{
		height: 80px;
		width: 80px !important;
		border-radius: 100px;
		margin-bottom: 20px;
		border-radius: 100px;
		object-fit: cover;
	}
	.slide-testimoni{
		margin-top: 100px;
		position: relative;
		z-index: 99;
	}
	.slider-testimoni{
		width: 80px;
		margin-right: 180px !important;
	}
	/*----- advertiser-----*/
	.img-adv img{
		display: none;
	}
	.img-adv-mobile {		
		display: block;
		margin-bottom: 50px;
	}
	.btn-readmore{
		text-align: center;
	}
	/*---- Client ----*/
	.content-client{
		padding-top: 150px;
	}
	.slider-client{
		max-width: 130px;
		margin: 0 ;
		padding-top: 25px;
	}
	.slider-client img{
		max-height: 150px;
		width: 100%;
	}
	.bg-mask3{
		height: 450px;
		width: 100%;
		margin-top: -300px;
	}
	/*----footer----*/
	.footer-bottom-right{
		text-align: center;
	}
	.copyright-mobile{
		display: block;
		text-align: center;
		margin-top: 20px;
	}
	.footer-bottom-left{
		display: none;
	}
	.footer-top-left-mobile{
		display: block;
		text-align: left !important;
		margin-bottom: 35px;
	}
	.footer-top-left-mobile p{
		text-align: left !important;
	}
	.footer-top-left-mobile img{
		margin-bottom: 30px;
	}
	.footer-top-right{
		display: none;
	}
	/*---- login ----*/
	.form-input{
		margin-left: 0;
	}
	
	.btn-outline-pink{
		padding: 10px 25px;
	}
	.btn-outline-pink:hover{
		padding: 10px 25px;
	}
	.btn-submit button{
		background-color: #EC2B78;
		padding: 10px 25px;
		border-radius: 10px;
		color: #fff;
		border: 0;
		outline: 0;

	}
	.login-form{
		padding-bottom: 50px;
		z-index: 100;
		padding: 15px;
		position: relative;
		height: 100%;
		width: 100%;
	}
	.icon-login img{
		max-height: 40px;
		left: 30px;
		z-index: 101;
	}
	.bg-overlay-mobile{
		background-color: #2D203A;
		opacity: 0.9;
		position: absolute;
		z-index: 0;
		height: 100%;
		width: 100%;
		left: 0;
		right: 0;
	}
	.bg-mobile{
		background-image: url('../assets/img/ilustration/home-img.png');
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.title-login{
		padding-top: 80px;
	}
	.title-login h1{
		text-align: center;
		color: #fff !important;
	}
	.title-login p{
		text-align: center;
		color: #fff !important;
	}
	.title-login h1{
		font-size: 22px;
	}
	.title-login p{
		font-size: 14px;
	}
	.form-input label{
		color: #fff;
	}
	.form-input .form-control{
		border:0;
		background-color: rgb(217,182,255,0.2);
		color: #fff !important;
	}
	.form-input::placeholder { 
		color: #fff !important;
	}
	.form-input .form-control:focus{
		color: #946EBD ;
		border:3px solid #946EBD;
		background-color: rgb(217,182,255,0.2);
		border-color: #F7F0FF;
	}
	.btn-submit li{
		margin-right: 5px;
		margin-bottom: 65px;
		display: inline-block !important;
	}
	.btn-submit2 li{
		margin-right: 5px;
		margin-bottom: 35px;
		display: inline-block !important;
	}
	.form-input span{
		margin-right: 30px;
	}
	.s_k{
		text-align: center;
	}
	.fa-eye{
		color: #fff;
	}
	.fa-sort-down{
		color: #fff;
	}
	/*---- page adv -----*/
	.thumbnail-img-hero-hide-mobile{
		display: none;
	}
	.thumbnail-img-hero-mobile{
		display: block;
		text-align: center;
	}
	/*---- page buzzer ----*/
	.owl-nav-mobile{
		display: block;
	}
	#customers-testimonials{
		padding-top: 50px;
	}
	.padding-content{
		padding-top: 300px;
	}
	.owl-nav-mobile .owl-next{
		position: absolute;
		padding-top: 250px;
	}
	.owl-nav-mobile .owl-prev{
		position: absolute;
		padding-top: 250px;
	}
	.fa-quote-left{
		font-size: 22px;
		padding-left: 80px;
		padding-top: 0;
	}
	.img-profil{
		max-width: 120px !important;
		max-height: 220px;
		margin-top: -80px;
	}
	.quotes-member p{
		font-size: 14px;
		line-height: 20px;
	}
	.footer-quotes{
		border-radius: 0 0 10px 10px;
		background-color: #413450;
		padding: 10px;
	}
	.quotes-member{
		margin-left: 90px;
		padding-top: 10px;
		text-align: left;
	}
	.footer-quotes h5{
		font-size: 14px;
		line-height: 25px;
	}
	.footer-quotes h6{
		font-size: 13px;
		line-height: 20px;
	}
	/*--- page inlfue ---*/
	#upgrade-premium{
		margin-top: -250px;
	}
	.description-premium{
		text-align: center;
	}
}
@media (min-width: 577px) and (max-width: 768px) {
	/*------header------*/
	.header-right{
		display: none;
	}
	.header-center{
		display: none;
	}
	.humberger{
		display: block;
	}
	.hero-img{
		display: none;
	}
	.img-join img{
		max-height: 150px;
		max-width: 100px;
		margin-top: -10px;
	}
	.bg-join-now{
		height: 180px;
	}
	.title-join h1{
		font-size: 24px;	
	}
	.footer-modal{
		padding:20px 0;
	}
	.footer-modal li a{
		font-size: 14px;
	}
	.footer-modal li{
		margin-bottom: 30px;
	}
	/*---box panel---*/
	.item-left{
		border-radius: 30px 30px 0 0;
		border-right : 0;
		border-bottom: 1px solid #E0DDDD;
	}
	.item-right{
		border-radius: 0 0 30px 30px;
		border-left : 0;
		border-top: 1px solid #E0DDDD;
	}
	.mobile-margin-top img{
		margin-top: 50px;
	}
	.arrow-left{
		position: absolute;
		right: 0;
		top: 0;
		margin-top: -60px;
		left: 0;
		width: 100px;
		margin-left: 260px;
		transform: rotate(90deg);
	}
	.arrow-right{
		position: absolute;
		right: 0;
		top: 330px;
		margin-right: 110px;
		width: 100px;
		transform: rotate(90deg);
	}
	.item-slide img{
		padding-top: 30px;
		width: 45%;
		max-height: 300px;
	}
	.item-slide:hover .item-overlay.right {
		bottom: 0;
		top: 0;
	}

	.item-slide:hover .item-overlay.left {
		top: 0;
	}
	.item-overlay.right {
		bottom: 200%;
		top: -100%;
	}
	.item-overlay.left {
		top: 100%;
	}
	.slider-client{
		max-width: 150px;
		margin: 25px;
	}
	.slider-client img{
		max-width: 110px !important;
	}
	/*---- login ----*/
	.form-input{
		margin-left: 0;
	}
	
	.btn-outline-pink{
		padding: 10px 25px;
	}
	.btn-outline-pink:hover{
		padding: 10px 25px;
	}
	.btn-submit button{
		background-color: #EC2B78;
		padding: 10px 25px;
		border-radius: 10px;
		color: #fff;
		border: 0;
		outline: 0;

	}
	.login-form{
		padding-bottom: 50px;
		z-index: 100;
		padding: 15px;
		position: relative;
		height: 100%;
		width: 100%;
	}
	.icon-login img{
		max-height: 40px;
		left: 30px;
		z-index: 101;
	}
	.bg-overlay-mobile{
		background-color: #2D203A;
		opacity: 0.9;
		position: absolute;
		z-index: 0;
		height: 100%;
		width: 100%;
		left: 0;
		right: 0;
	}
	.bg-mobile{
		background-image: url('../assets/img/ilustration/home-img.png');
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.title-login{
		padding-top: 80px;
	}
	.title-login h1{
		text-align: center;
		color: #fff !important;
	}
	.title-login p{
		text-align: center;
		color: #fff !important;
	}
	.title-login h1{
		font-size: 22px;
	}
	.title-login p{
		font-size: 14px;
	}
	.form-input label{
		color: #fff;
	}
	.form-input .form-control{
		border:0;
		background-color: rgb(217,182,255,0.2);
		color: #fff !important;
	}
	.form-input::placeholder { 
		color: #fff !important;
	}
	.form-input .form-control:focus{
		color: #946EBD ;
		border:3px solid #946EBD;
		background-color: rgb(217,182,255,0.2);
		border-color: #F7F0FF;
	}
	.btn-submit li{
		margin-right: 5px;
		display: inline-block !important;
	}
	.btn-submit2 li{
		margin-right: 5px;
		display: inline-block !important;
	}
	.form-input span{
		margin-right: 30px;
	}
	.s_k{
		text-align: center;
	}
	.fa-eye{
		color: #fff;
	}
	.fa-sort-down{
		color: #fff;
	}
	/*---- page buzzer ----*/
	#customers-testimonials{
		padding-top: 50px;
	}
	.fa-quote-left{
		font-size: 22px;
		padding-left: 80px;
		padding-top: 0;
	}
	.img-profil{
		max-width: 120px !important;
		max-height: 240px;
		margin-top: -80px;
	}
	.quotes-member p{
		font-size: 14px;
		line-height: 20px;
	}
	.footer-quotes{
		border-radius: 0 0 10px 10px;
		background-color: #413450;
		padding: 10px;
	}
	.quotes-member{
		margin-left: 90px;
		padding-top: 10px;
		text-align: left;
	}
	.footer-quotes h5{
		font-size: 14px;
		line-height: 25px;
	}
	.footer-quotes h6{
		font-size: 13px;
		line-height: 20px;
	}
	/*--- page inlfue ---*/
	#upgrade-premium{
		margin-top: -250px;
	}

}

@media (min-width: 769px) and (max-width: 992px) {
	/*------header------*/
	.header-right{
		display: none;
	}
	.header-center{
		display: none;
	}
	.humberger{
		display: block;
	}
	.hero-img{
		display: none;
	}
	.bg-join-now{
		height: 180px;
	}
	.title-join h1{
		font-size: 24px;	
	}
	.footer-modal{
		padding:20px 0;
	}
	.footer-modal li a{
		font-size: 14px;
	}
	.footer-modal li{
		margin-bottom: 30px;
	}
	/*---box panel---*/
	.item-left{
		border-radius: 30px 30px 0 0;
		border-bottom: 1px solid #E0DDDD;
	}
	.item-right{
		border-radius: 0 0 30px 30px;
		border-top: 1px solid #E0DDDD;
	}
	.arrow-left{
		position: absolute;
		right: 0;
		top: 0;
		margin-top: -60px;
		left: 0;
		width: 100px;
		margin-left: 175px;
		transform: rotate(90deg);
	}
	.arrow-right{
		position: absolute;
		right: 0;
		top: 255px;
		margin-right: 70px;
		width: 100px;
		transform: rotate(90deg);
	}
	.item-slide img{
		padding-top: 30px;
		width: 45%;
		max-height: 300px;
	}
	.item-slide:hover .item-overlay.right {
		bottom: 0;
		top: 0;
	}

	.item-slide:hover .item-overlay.left {
		top: 0;
	}
	.item-overlay.right {
		bottom: 200%;
		top: -100%;
	}
	.item-overlay.left {
		top: 100%;
	}
	/*---- login ----*/
	.form-input{
		margin-left: 0;
	}
	
	.btn-outline-pink{
		padding: 10px 25px;
	}
	.btn-outline-pink:hover{
		padding: 10px 25px;
	}
	.btn-submit button{
		background-color: #EC2B78;
		padding: 10px 25px;
		border-radius: 10px;
		color: #fff;
		border: 0;
		outline: 0;

	}
	.login-form{
		padding-bottom: 50px;
		z-index: 100;
		padding: 15px;
		position: relative;
		height: 100%;
		width: 100%;
	}
	.icon-login img{
		max-height: 40px;
		left: 30px;
		z-index: 101;
	}
	.bg-overlay-mobile{
		background-color: #2D203A;
		opacity: 0.9;
		position: absolute;
		z-index: 0;
		height: 100%;
		width: 100%;
		left: 0;
		right: 0;
	}
	.bg-mobile{
		background-image: url('../assets/img/ilustration/home-img.png');
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.title-login{
		padding-top: 80px;
	}
	.title-login h1{
		text-align: center;
		color: #fff !important;
	}
	.title-login p{
		text-align: center;
		color: #fff !important;
	}
	.title-login h1{
		font-size: 22px;
	}
	.title-login p{
		font-size: 14px;
	}
	.form-input label{
		color: #fff;
	}
	.form-input .form-control{
		border:0;
		background-color: rgb(217,182,255,0.2);
		color: #fff !important;
	}
	.form-input::placeholder { 
		color: #fff !important;
	}
	.form-input .form-control:focus{
		color: #946EBD ;
		border:3px solid #946EBD;
		background-color: rgb(217,182,255,0.2);
		border-color: #F7F0FF;
	}
	.btn-submit li{
		margin-right: 5px;
		display: inline-block !important;
	}
	.btn-submit2 li{
		margin-right: 5px;
		display: inline-block !important;
	}
	.form-input span{
		margin-right: 30px;
	}
	.s_k{
		text-align: center;
	}
	.fa-eye{
		color: #fff;
	}
	.fa-sort-down{
		color: #fff;
	}
	/*---- page buzzer ----*/
	#customers-testimonials{
		padding-top: 0;
	}
	.fa-quote-left{
		font-size: 22px;
		padding-left: 80px;
		padding-top: 0;
	}
	.img-profil{
		max-width: 120px !important;
		max-height: 240px;
		margin-top: -80px;
	}
	.quotes-member p{
		font-size: 14px;
		line-height: 20px;
	}
	.footer-quotes{
		border-radius: 0 0 10px 10px;
		background-color: #413450;
		padding: 10px;
	}
	.quotes-member{
		margin-left: 90px;
		padding-top: 10px;
		text-align: left;
	}
	.footer-quotes h5{
		font-size: 14px;
		line-height: 25px;
	}
	.footer-quotes h6{
		font-size: 13px;
		line-height: 20px;
	}
	/*--- page inlfue ---*/
	#upgrade-premium{
		margin-top: -250px;
	}
}

@media (min-width: 923px) and (max-width: 999px) {
	/*-----header----*/
	.header-right{
		display: none;
	}
	.header-center{
		display: none;
	}
	.humberger{
		display: block;
	}
	/*---box panel---*/
	.item-left{
		border-radius: 30px 30px 0 0;
		border-bottom: 1px solid #E0DDDD;
	}
	.item-right{
		border-radius: 0 0 30px 30px;
		border-top: 1px solid #E0DDDD;
	}
	.arrow-left{
		position: absolute;
		right: 0;
		top: 0;
		margin-top: -60px;
		left: 0;
		width: 100px;
		margin-left: 170px;
		transform: rotate(90deg);
	}
	.arrow-right{
		position: absolute;
		right: 0;
		top: 255px;
		margin-right: 20px;
		width: 100px;
		transform: rotate(90deg);
	}
	.item-slide:hover .item-overlay.right {
		bottom: 0;
		top: 0;
	}

	.item-slide:hover .item-overlay.left {
		top: 0;
	}
	.item-overlay.right {
		bottom: 200%;
		top: -100%;
	}
	.item-overlay.left {
		top: 100%;
	}
	/*---- page buzzer ----*/
	.owl-nav-mobile{
		display: block;
	}
	#customers-testimonials{
		padding-top: 50px;
	}
	.padding-content{
		padding-top: 300px;
	}
	.owl-nav-mobile .owl-next{
		position: absolute;
		padding-top: 250px;
	}
	.owl-nav-mobile .owl-prev{
		position: absolute;
		padding-top: 250px;
	}
	.fa-quote-left{
		font-size: 22px;
		padding-left: 80px;
		padding-top: 0;
	}
	.img-profil{
		max-width: 120px !important;
		max-height: 240px;
		margin-top: -80px;
	}
	.quotes-member p{
		font-size: 14px;
		line-height: 20px;
	}
	.footer-quotes{
		border-radius: 0 0 10px 10px;
		background-color: #413450;
		padding: 10px;
	}
	.quotes-member{
		margin-left: 90px;
		padding-top: 10px;
		text-align: left;
	}
	.footer-quotes h5{
		font-size: 14px;
		line-height: 25px;
	}
	.footer-quotes h6{
		font-size: 13px;
		line-height: 20px;
	}
	/*--- page inlfue ---*/
	#upgrade-premium{
		margin-top: -250px;
	}
}
@media (min-width: 1000px) and (max-width: 1200px) {
	/*---- page buzzer ----*/
	
	.fa-quote-left{
		font-size: 22px;
		padding-left: 80px;
		padding-top: 0;
	}
	.img-profil{
		max-width: 120px !important;
		max-height: 220px;
		margin-top: -80px;
	}
	.quotes-member p{
		font-size: 14px;
		line-height: 20px;
	}
	.footer-quotes{
		border-radius: 0 0 10px 10px;
		background-color: #413450;
		padding: 10px;
	}
	.quotes-member{
		margin-left: 90px;
		padding-top: 10px;
		text-align: left;
	}
	.footer-quotes h5{
		font-size: 14px;
		line-height: 25px;
	}
	.footer-quotes h6{
		font-size: 13px;
		line-height: 20px;
	}
	/*--- page inlfue ---*/
	#upgrade-premium{
		margin-top: -250px;
	}
}